<p>Logged in as {{userName}}</p>

<div ng-repeat="change in changes" class="panel panel-default panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">{{change.title}}</h3>
	</div>
	<div class="panel-body">
		<button type="button" class="btn btn-default pull-right">
				<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Approve
		</button>
		<p>Detail</p>
		<p>{{change.timestamp.toUTCString()}} by contrib</p>
		<p>Reason: reason</p>
	</div>
	<ul class="list-group">
		<li ng-repeat="comment in change.comments" class="list-group-item"><strong>{{comment.user.name}}:</strong> {{comment.text}}</li>
	</ul>
</div>		

