<div class="row">
	<div class="col-md-3">
		<div class="btn-group-vertical" role="group" aria-label="...">
				<button type="button" class="btn btn-default" ng-click="setFilter('tree')">Changes to My Tree <span class="badge">{{userChangeCount}}</span></button>
				<button type="button" class="btn btn-default" ng-click="setFilter('unapproved')">Unapproved <span class="badge">{{unapprovedCount}}</span></button>
				<button type="button" class="btn btn-default" ng-click="setFilter('mine')">Changes by Me <span class="badge">{{myChangesCount}}</span></button>
		</div>
	</div>
	<div class="col-md-9">
		<alert type="'success'" ng-show="pendingChanges" class="flip-in">
			<div class="text-center">
		<button type="button" class="btn btn-success" ng-click="getPendingChanges()">Get New Changes</button>
			</div>
		</alert>
		<div>
			<div ng-repeat="change in changes | orderBy:'index' | filter:filterFunction" class="panel panel-default panel-default">
				<div class="panel-heading">
					<button type="button" class="btn btn-default pull-right" ng-show="!change.approved" ng-click="approve(change, true)">
							<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Approve
					</button>
					<button type="button" class="btn btn-success pull-right ng-hide" ng-show="change.approved" ng-click="approve(change, false)">
							<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Approved
					</button>

					<h3 class="panel-title">{{change.title}} for <a href="{{personUrl + change.subjectId}}">{{change.subjectDisplay}}</a></h3>
					<p>{{change.updatedDate}} by {{change.agentName}}</p>

					<button type="button" class="btn btn-default pull-right" ng-show="!change.reviewing" ng-click="requestReview(change, true)"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Request Review</button>
					<button type="button" class="btn btn-warning pull-right" ng-show="change.reviewing" ng-click="requestReview(change, false)"><span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> Cancel Review</button>

					<p>Reason: {{change.reason}}</p>				
					<p>Number of approvals: {{change.approvalCount}}</p>

				</div>
				<div class="panel-body">
					<ul class="list-group">
						<li ng-repeat="comment in change.comments" class="list-group-item"><strong>{{comment.by}}:</strong> {{comment.text}}</li>
					</ul>
				</div>
				<div class="panel-footer">
				    <div class="input-group">
				    	<input type="text" class="form-control" placeholder="Add comment..." ng-model="change.commentText">
				    	<span class="input-group-btn">
				    		<button class="btn btn-default" type="button" ng-click="addComment(change)">Post</button>
				    	</span>
				    </div>
				</div>
	 		</div>
 		</div>
	</div>
</div>


