<h3>Settings</h3>


<div class="row">
  <div class="col-xs-6">
    <h4>Watchlist ({{personsCount}} Persons)</h4>
    <div class="well" style="height: 300px;overflow: auto;">
      <table class="table table-striped">
<!--         <thead>
         <tr>
           <th>Name</th>
           <th>ID</th>
         </tr>
       </thead> -->
       <tr ng-repeat="p in persons">
        <td>{{ p.display.name }}</td>
        <td>{{ p.id }}</td>
      </tr>
    </table>
  </div>
  <p>PeerTrees currently monitor up to 8 generations of your Family Tree ancestors for changes.</p>
  <button class="btn btn-large btn-primary" type="submit" ng-click="updateDefaultWatchlist()">Refresh Watchlist</button>        
</div>
</div>